<app-user-nav></app-user-nav>

<div
  style="background-color: rgb(245, 245, 245);"
  class="container-fluid pt-4 pb-4"
>
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h4 class="pr-2"><small>Product display amount:</small></h4>
          <div
            class="form-check form-check-inline"
            (change)="changePageSize($event.target.value)"
          >
            <input
              class="form-check-input"
              type="checkbox"
              id="exampleRadios1"
              value="3"
              (change)="
                checkedAmount1 = true;
                checkedAmount2 = false;
                checkedAmount3 = false;
                checkedAmount4 = false
              "
              [(ngModel)]="checkedAmount1"
            />
            <label class="form-check-label" for="exampleRadios1">
              3
            </label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="exampleRadios2"
                value="5"
                (change)="
                  checkedAmount1 = false;
                  checkedAmount2 = true;
                  checkedAmount3 = false;
                  checkedAmount4 = false
                "
                [(ngModel)]="checkedAmount2"
              />
              <label class="form-check-label" for="exampleRadios2">
                5
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="exampleRadios3"
                value="10"
                (change)="
                  checkedAmount1 = false;
                  checkedAmount2 = false;
                  checkedAmount3 = true;
                  checkedAmount4 = false
                "
                [(ngModel)]="checkedAmount3"
              />
              <label class="form-check-label" for="exampleRadios3">
                10
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="exampleRadios4"
                value="21"
                (change)="
                  checkedAmount1 = false;
                  checkedAmount2 = false;
                  checkedAmount3 = false;
                  checkedAmount4 = true
                "
                [(ngModel)]="checkedAmount4"
              />
              <label class="form-check-label" for="exampleRadios3">
                All
              </label>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <h4 class="pr-2">
            <small>Product display category:</small>
          </h4>
          <div
            class="form-check form-check-inline"
            (change)="changeCategory($event.target.value)"
          >
            <input
              class="form-check-input"
              type="checkbox"
              id="exampleRadios1"
              value="shrub"
              (change)="
                checkedCategory1 = true;
                checkedCategory2 = false;
                checkedCategory3 = false;
                checkedCategory4 = false
              "
              [(ngModel)]="checkedCategory1"
            />
            <label class="form-check-label" for="exampleRadios1">
              shrub
            </label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="exampleRadios2"
                value="annual"
                (change)="
                  checkedCategory1 = false;
                  checkedCategory2 = true;
                  checkedCategory3 = false;
                  checkedCategory4 = false
                "
                [(ngModel)]="checkedCategory2"
              />
              <label class="form-check-label" for="exampleRadios2">
                annual
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="exampleRadios3"
                value="perennial"
                (change)="
                  checkedCategory1 = false;
                  checkedCategory2 = false;
                  checkedCategory3 = true;
                  checkedCategory4 = false
                "
                [(ngModel)]="checkedCategory3"
              />
              <label class="form-check-label" for="exampleRadios3">
                perennial
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="exampleRadios4"
                value="palm"
                (change)="
                  checkedCategory1 = false;
                  checkedCategory2 = false;
                  checkedCategory3 = false;
                  checkedCategory4 = true
                "
                [(ngModel)]="checkedCategory4"
              />
              <label class="form-check-label" for="exampleRadios3">
                palm
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col p-3 ml-2 mr-2 text-center" *ngFor="let item of products">
        <div class="card">
          <img
            src="../../../assets/{{ item.image }}.jpg"
            class="card-img-top"
            alt="Plant Image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">
              {{ item.description }}
            </p>
            <h4 class="text-success mt-2 pt-2 pb-2 border-top">
              <span
                ><small class="text-dark">Price:&nbsp;&nbsp;</small> ${{
                  item.price
                }}</span
              >
            </h4>

            <h4 class="mt-2 mb-0 pb-0 pt-2 border-top">
              <span
                ><small class="text-dark">Category:&nbsp;&nbsp;</small>
                {{ item.category }}</span
              >
            </h4>
          </div>
          <div class="d-flex card-body border-top text-center">
            <h5 class="card-link text-primary mt-2">Buy</h5>

            <h5 class="card-link text-primary mt-2">Add to cart</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
