<app-user-nav></app-user-nav>

<div
  style="background-color: rgb(245, 245, 245);"
  class="container-fluid pt-4 pb-4"
>
  <div class="container pr-4">
    <div class="row pl-2 mt-3">
      <div class="col mt-1 pt-3 pb-3 pr-3 bg-white border shadow-sm">
        <h5 class="text-center">
          <strong>Home Page</strong>
        </h5>
        <p class="pt-3">
          Vim hendrerit contentiones ex, no timeam euripidis mel, habemus
          propriae volutpat sea an. Vel diceret contentiones ut, vel ipsum nobis
          in. Sea in esse iusto, novum audire complectitur id vix.
        </p>
      </div>
    </div>
  </div>
</div>
