<p>create works!</p>
<button (click)="logout()">logout</button>
<div class="container bg-primary">
  <div class="row pt-2">
    <div
      class="col p-2 ml-2 mr-2 text-center d-flex justify-content-center"
      *ngFor="let item of cart"
    >
      <div
        class="card shadow-lg bg-dark"
        style="max-width: 12rem; max-height: 15rem;"
      >
        <div class="card-body pl-2 pr-2">
          <h5 class="card-title text-white">{{ item.name }}</h5>
          <img
            src="../../../assets/{{ item.image }}.jpg"
            class="card-img"
            alt="Plant Image"
          />
          <h4 class="text-success mt-1 pt-1 pb-1 text-dark">
            <span class="text-success"
              ><small class="text-white">Price:&nbsp;&nbsp;</small> ${{
                item.price
              }}</span
            >
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
